PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/innovationhacks
DATABASE_USE_IAM_AUTH=false
AWS_REGION=us-east-1
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USER=
DATABASE_SSL=false
DATABASE_SSL_REJECT_UNAUTHORIZED=true
DATABASE_SSL_CA_PATH=
GOOGLE_MAPS_API_KEY=
